.app-container {
  display: flex;
  min-height: 100vh;
}

.sidebar-container {
  width: 250px;
}



.content {
  margin-left: 250px; /* Same as sidebar width */
  padding: 1rem;
  width: 1615px; 
  height: 100vh;
  flex: 1;
  background-color: #f8fafc;
  overflow-y: auto;
}